body {
	margin: 2%;
	font-family: Arial;
	background-color: #333;
	color: #eee;
}

#board {
	margin: 0 auto;
	table-layout: fixed;
	border-collapse: collapse;
}
#board td {
	width: 45px;
	height: 45px;
	background-color: #fdf9f3;
	text-align: center;
	border: 2px #ddd solid;
}

.piece {
	padding: 20% 30% 20% 30%; /* top right bottom left */
	font-weight: bold;
	color: #eee;
}
.p1 {
	background-color: red;
}
.p2 {
	background-color: blue;
}

#message {
	width: 50%;
	margin: 2.5% auto;
	border: 2px #4F4F4F solid;
	background-color: #222;
	padding: 10px;
}

#game {
	margin: 0 auto;
}
