body {
	margin: 2%;
	font-family: Arial;
	background-color: #333;
	color: #eee;
}

#board {
	margin: 0 auto;
	table-layout: fixed; /* don't resize on text swap */
	border-collapse: collapse;
}
.cell {
	/* fixed size because responsive table design is very hard */
	width: 45px;
	height: 45px;
	text-align: center;
	border: 2px #ddd solid;
	background-color: #fdf9f3;
}
.unenterable {
	background-color: #333;
}
.hovered {
	box-shadow: inset 0 0 0 5px yellow;
}
.selected {
	box-shadow: inset 0 0 0 5px green;
}


.piece {
	padding: 20% 30% 20% 30%; /* top right bottom left - text size differs */
	font-weight: bold;
	color: #eee;
}
.p1 {
	background-color: red;
}
.p2 {
	background-color: blue;
}

#message {
	width: 50%;
	margin: 2.5% auto;
	border: 2px #4F4F4F solid;
	background-color: #222;
	padding: 10px;
}

#game {
	margin: 0 auto;
}
