doctype html

html
	head
		meta(charset="utf-8")
		link(href="/public/style.css", rel="stylesheet")
		link(rel="icon", href="/public/favicon.ico?v=2")
		title Play Master of the Flag
		block head
	body
		h1 Master of the Flag
		block content